@charset "UTF-8";
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
#menuhamburguer{
    margin-top: 10px;
    cursor: pointer;
}

.menu-mobile{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70vw;
    left: 30vw;
    height: 90vh;
    top: 10px;
    
     
}
#close-menu{
    position: relative;
    margin: 10px;
    left: 230px;
    cursor: pointer;
    
}
.menu-mobile-categorias{
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 20px;
    right: 20px;
    font-size: x-large;
    
    

}
#display{
    display:none;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    
}

.imagem1{
    width: 450px;
}

.titulo-artigo1{
    font-size: 3em;
    margin-left: -75px;
    font-weight: 900;
    line-height: 45px;
}

.paragrafo-artigo1{
    color:hsl(236, 13%, 42%);
    margin-left: -75px;
}

.read-more-artigo1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: hsl(5, 85%, 63%);
    padding: 15px;
    width: 180px;
    border: none;
    right: 75px;

}

.read-more-artigo1 a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.artigo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(240, 100%, 5%);
    width: 400px;
    margin-top: 50px;

    
}
.artigo2 h2{
    color: white;
}

.titulo-artigo2{
    position: relative;
    right: 150px;
    color: hsl(35, 77%, 62%)
}

.subtitulo-artigo2{
    position: relative;
    right: 30px;

}

.paragrafo-artigo2{
    position: relative;
    color: hsl(233, 8%, 79%);
    right:40px;
    bottom: 20px;
    
}

.subtitulo-artigo23{
    position: relative;
    right: 20px;
    bottom: 50px;
    
}

.subtitulo-artigo24{
    position: relative;
    right: 33px;
    bottom: 200px;
}

.paragrafo-artigo21{
    position: relative;
    color: hsl(233, 8%, 79%);
    right: 40px;
    bottom: 200px;
}

.paragrafo-artigo22{
    position: relative;
    color: hsl(233, 8%, 79%);
    right: 35px;
    bottom: 200px;    
}

.artigo3{
    display: flex;
    margin-top: 50px;
    flex-direction: column;

}
.artigo01{
    display: flex;
    height: 200px;

}
.coluna01{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.numero-artigo03{

    font-size: 50px;
    color:hsl(233, 8%, 79%)
}

.titulo-artigo03{
    position: relative;
    bottom: 50px;
}
.paragrafo-artigo03{
    position: relative;
    bottom: 80px;
    color:hsl(236, 13%, 42%);
    line-height: 30px;    
}

.Imagem-artigo03{
    position: relative;
    height: 160px;
    width: 113;
    top: 60px;
    padding-left: 20px;
}
.coluna02{
    display: flex;
    flex-direction: row;
    height: 200px;
}
.imagem-artigo04{
    position: relative;
    height: 160px;
    width: 123px;
    top: 60px;
    padding-left: 20px;
    
}
.caixa{
    display: flex;
    flex-direction: column;
}

.coluna3{
    display: flex;
    flex-direction: row;

}
.caixa001{
    display: flex;
    flex-direction: column;
}

.Imagem-artigo05{
    position: relative;
    height: 160px;
    width: 123px;
    top: 60px;
    padding-left: 20px;
}

.caixa001{
    position: relative;
    display: flex;
    flex-direction: column;
}


.numero-artigo03{
    position: relative;
    left: 10px;

}

.titulo-artigo04{
    position: relative;
    bottom: 50px;
    left: 25px;
}

.paragrafo-artigo07{
    position: relative;
    bottom: 70px;
    left: 25px;
    color:hsl(236, 13%, 42%);
    
}

.numero-artigo04{
    position: absolute;
    font-size: 50px;
    color:hsl(233, 8%, 79%);
    left: 25px;
}