@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;*/

*{
    margin:0px;
    padding: 0px;
    overflow-y: hidden;
}
.conteiner{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
   
    

    
    
}
.sedans{
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;


}

.sedans, .suvs, .luxury{
    width: 350px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
}
.imagem{
    margin: 25px;

}
.titulo{
    position: relative;
    bottom: 75px;
    font-family: 'Big Shoulders Display',cursive;
    color: white;
    padding-left:25px 
}

.paragrafo-sedans{
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    line-height: 25px;
    width: 250px;
    padding-left: 25px;
    bottom: 95px;
}

.botao{
    position: absolute;
    left: 25px;
    bottom: 20px;
    background-color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color:hsl(31, 77%, 52%);
    cursor: pointer;
   
}
.botao:hover{
    width: 155px;
    height: 55px;
    transition: 0.5s;
}
.suvs{
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: hsl(184, 100%, 22%);
    
    
}
.paragrafo-suvs{
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    line-height: 25px;
    width: 250px;
    padding-left: 25px;
    bottom: 95px;
    
}

.luxury{
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
    
}

.paragrafo-luxury{
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    line-height: 25px;
    width: 250px;
    padding-left: 25px;
    bottom: 95px; 
}
a{
    text-decoration: none;
    color: darkblue;
}
.attribution{
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    bottom: 0px;
}

@media screen and (max-width:1070px){
    body{
        height: 100vh;
    }
    .conteiner{
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
           
    }
    .sedans{
        border-radius: 10px 10px 0px 0px;
        margin-top: 900px;
    }
    .luxury{
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 50px;
    }
    .attribution{
        height: 100vh;
        display: flex;
        align-items: flex-end;
    }
}